.main-footer {
  background-color: var(--color-text);
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  width: 200px;
  block-size: fit-content;
}

.footer-contact svg {
  width: 30px;
  height: 30px;
  transition: transform 500ms ease-in-out;
  cursor: pointer;
}

.footer-contact svg:hover {
  transform: scale(1.2);
}
.main-footer-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
