:root{
    --color-primary:#4863bb;
    --color-secondary:#088395;
    --color-warning:#FFDE95;
    --color-danger:#FF7D29;
    --color-text:#2F3645;
    --color-header:#402E7A;
    --color-subheader:#5d4b9a;

    --width-25:25px;
    --width-50:50px;
    --width-100:100px;
    --width-150:150px;
    --width-200:200px;
    --width-255:255px;

    --space-3:3px;
    --space-5:5px;
    --space-6:6px;
    --space-10:10px;
    --space-16:16px;

    --box-shadow:1px 1px 2px 2px rgba(0, 0, 0, 0.306);
}