.banner-button {
  width: var(--width-255);
  background-color: transparent;
  height: 50px;
  border: 3px solid var(--color-primary);
  padding: var(--space-6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 10%;
  top: 50px;
  cursor: pointer;
  color: var(--color-secondary);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-weight: 800;
}

.banner {
  position: relative;
  width: 100%;
  height: 150px;
  background-image: url("../../assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: var(--space-3);
}
