.product-card {
  width: var(--width-150);
  height: 320px;
  border: 1px solid var(--color-secondary);
  padding: var(--space-6);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.product-image {
  height: 150px;
  width: 100%;
  transition: opacity 500ms ease-in-out;
}
.product-header {
  width: 100%;
  color: var(--color-header);
}
.product-abstract {
  width: 100%;
  flex-grow: 1;
  font-size: smaller;
}
.product-button {
  background-color: var(--color-danger);
  color: white;
  padding: var(--space-10);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.product-image-back {
  position: absolute;
  z-index: -1;
  max-width: calc(100% - 12px);
  left: 6px;
  top: 6px;
}

.card-fav,
.card-favoff,
.card-favon {
  width: 50px;
  height: 35px;

  position: absolute;
  top: 2px;
  right: -3px;
}
.card-favoff {
  pointer-events: none;
}

.card-favon {
  pointer-events: none;
}
